# embedding模型，此处可使用硅基流动平台 https://cloud.siliconflow.cn/
OPENAI_API_MODEL=Pro/BAAI/bge-m3
OPENAI_API_KEY=sk-uzeafplocpbpjphanmihkbabnzlahnfgcxvhlxhjpjczhxmq
OPENAI_BASE_URL=https://api.siliconflow.cn/v1

# chat模型，AI STONE平台
CLOUD_MODEL=Qwen3-32B
CLOUD_API_KEY=sk-DMdBm3DvVIqbcdUlfzxMCUlNLplTehhMx5E9GJHRsp18suw3
CLOUD_BASE_URL=https://ai.api.coregpu.cn/v1/
